<p style="float:left"><%= link_to '← назад', admin_albums_path %></p>
<h1><%= if !@title.nil? then @title end %></h1>
<div class="clear"></div>

<div id="admin_photos">
  <% if @album.photos.size>0 %>
    <% @album.photos.each do |photo| %>
      <div style="float:left;margin:10px; ">
        <div class="photo_container">
          <a class="image" href="<%=  admin_photo_path(photo)%>">
            <%= image_tag photo.image.url(:small), :class=>'photo'%>
          </a>
        </div>
        <%= link_to 'удалить', admin_photo_path(photo),
          :confirm => 'Вы уверены?', :method => :delete %>
        <input type="radio" class="change_main" rel="<%= photo.album.id %>" value="<%= photo.id %>" name="photo"
              <%= 'checked="checked"' if photo.id == @album.main_photo_id %> />
        <span class="edit_photo">
          <%= link_to 'изменить', edit_admin_photo_path(photo)%>
        </span>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
<% else %>
  <p>
    Нет фотографий в данном альбоме.
  </p>
<% end %>
<%= link_to 'загрузить фотографию',:controller=>'photos',:action=>'new', :album_id=>@album.id %>