<p style="float:left"><%= link_to '← назад', admin_rooms_path %></p>
<h1><%= @title if !@title.nil? %></h1>
<div class="clear"></div>

<%= error_messages_for :room %>
<% form_for :room,:html => { :multipart => true }, :url => admin_rooms_path do |f| %>
<p><%= label_tag 'uri','uri' %>
<%= f.text_field :uri %></p>

<p><%= label_tag 'title','заголовок' %>
<%= f.text_field :title %></p>

<p><label for="photo">фотография</label>
<%= f.file_field :photo %></p>

<p><%= label_tag 'description','описание' %>
<%= f.text_area :description, :class=>'ckeditor' %></p>

<p><%= f.submit 'добавить' %></p>
<% end %>