<script type="text/javascript">
  var current_page="schedule";
</script>
<div id="content">
  <div id="page" <%= 'style="width:auto"' unless @current_page.show_additional %>>
    <%= render :partial=>'pages/second_menu' %>
    <p>
      <%= @current_page.text %>
    </p>
  </div>
</div>
<div id="schedule_description_dialog">

</div>

<div id="descriptions" style="display:none;">
  <% @exercises.each do |exercise| %>
    <div rel="<%= exercise.uri %>">
      <h2><%= exercise.title %></h2>
      <p><%= exercise.description %></p>
    </div>
  <% end %>
</div>