<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Фитнес клуб Максимус Казань | Maximus</title>
    <meta name="keywords" content="фитнес клуб" />
    <meta name="description" content="Фитнес клуб" />
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'jquery.lightbox' %>
  </head>
  <body>
    <div id="container">
      <%= render :partial=>'layouts/header' %>
      <%= render :partial=>'layouts/banner' %>
      <%= yield %>
      <%= render :partial=>'layouts/footer' %>
    </div>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.lightbox' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>