<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Фитнес клуб Максимус Казань | Maximus</title>
    <meta name="keywords" content="фитнес клуб" />
    <meta name="description" content="Фитнес клуб" />
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'jquery.lightbox' %>
  </head>
  <body>
    <div id="container">
      <%= render :partial=>'layouts/header' %>
      <%= render :partial=>'layouts/banner' %>
      <script type="text/javascript">
  var current_page="vote";
</script>
<div id="content">
  <div class="right">
    <div class="caption">Контакты:</div>
    <span class="address2">г. Казань <br />ул. Минская, 9 ТК "Азино"</span>
    <div class="contact">
      <span class="tel"><span>(843)</span>537-15-15</span>
      <br /><br />
    </div>
  </div>
  <div id="page">
    <h2 class="title">Итоги конкурса:</h2>
    <p>
      Благодарим всех за участие в конкурсе "Стань лицом Фитнес Клуба "Maximus"!<br />
      Победителем конкурса стала  <strong>Евлампьева Ксения.</strong><br />
      Фото победителя появится на обложке журнала "Maximus".
    </p>
  </div>
  <div class="clear"></div>
</div>
      <%= render :partial=>'layouts/footer' %>
    </div>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.lightbox' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>